apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: todo-app
spec:
  replicas: 1
  selector: { matchLabels: { app: frontend } }
  template:
    metadata:
      labels: { app: frontend }
      annotations:
        sidecar.istio.io/inject: "true"
    spec:
      serviceAccountName: frontend-sa
      automountServiceAccountToken: false
      containers:
      - name: frontend
        image: marglou/frontend:latest        # DOCKER__USERNAME
        imagePullPolicy: Always             
        securityContext:                   
          runAsNonRoot: true
          runAsUser: 1000
          readOnlyRootFilesystem: true
        ports: [{ containerPort: 5000 }]
        env: 
        - name: USERS_URL
          value: "http://users:5001"
        - name: TASKS_URL
          value: "http://tasks:5002"
        livenessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 10
          periodSeconds: 5
        readinessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 5
          periodSeconds: 3
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
          limits:
            memory: "128Mi"
            cpu: "200m"
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: todo-app
spec:
  selector: { app: frontend }
  ports: [{ port: 5000 }]
